// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.kode-mono-<Kode> {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body, #firstName, #lastName, #eMail, #signUp, #passWord{
  font-family: "Kode Mono", monospace;
}
body{
  font-size: 1.2em;
  background-color:#0F0F0F;
  width: 100%;
  padding: 0;
  margin: 0;
}
h1{
  padding: 0.25em;
  color: #95003C;
  font-weight: 675;
  font-size: 1.4em;
  padding-bottom: 0.1em;
  text-decoration: underline;
  text-decoration-color: #16B507;
}
/* Does not change color of the linked h1 after being clicked
Credits to SheCodes*/
a:link, a:visited{
  color: #95003C;
  text-decoration-color: #16B507;
}
form{
  width: 12.5em;
  position: relative;
  padding: 1em;
  border: 1px;
  margin: 1em;
  border-style: solid;
  border-width: 0.1em;
  border-color: #16B507;
  border-radius: 10px;
  background-color: #1c1c1c;
}
h2{
  font-size: 1.25em;
  text-align: center;
  color: #95003C;
  padding-bottom: 0.5em;
}
.bolded{
  font-weight: 600;
  font-size: 1.35em
}
p{
  text-align: center;
  color: #95003C;
  padding-bottom: 0.5em;
}
#first_name, #last_name, #email_address, #pass_word{
  color: #95003C;
  padding-bottom: 0.5em;
}
#firstName, #lastName, #eMail, #passWord{
  width: 11.5em;
  color: #16B507;
}
#first_name input, #last_name input, #email_address input, #pass_word input{
  background-color: #0F0F0F;
}
::placeholder {
  color: #16B507;
}
#signUp{
  /* From W3 Schools */
  color: #95003C;
  background-color: #16B507;
  border: none;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75em;
  font-weight: 600;
  border-radius: 25px;
  position:relative;
  left: 30%;
}
@media screen and (min-width: 375px){
  h1{
    font-size: 2em;
	padding-bottom: 0.1em;
  }
  form{
    width: 15.5em;
  }
  h2{
    font-size: 1.5em;
  }
  p{
    font-size: 1.3em;
  }
  #first_name, #last_name, #email_address, #pass_word{
    font-size: 1.2em;
  }
  #signUp{
    padding: 0.5em;
	font-size: 1em;
  }
}
@media screen and (min-width: 425px){
  form{
    width: 18em;
  }
  p{
    font-size: 1.4em;
  }
  #first_name, #last_name, #email_address, #pass_word{
    font-size: 1.3em;
  }
  #signUp{
    padding: 0.5em;
	font-size: 1.1em;
  }
}
@media screen and (min-width: 765px){
  h1{
    font-size: 2.5em;
  }
  form{
    width: 36em;
  }
  h2{
    font-size: 2em;
  }
  p{
    font-size: 1.75em;
  }
  #first_name, #last_name, #email_address, #pass_word{
    font-size: 1.5em;
  }
  #firstName{
    width: 15.95em;
  }
  #lastName{
    width: 16.5em;
  }
  #eMail{
    width: 14em;
  }
  #passWord{
    width: 17em;
  }
  #signUp{
    padding: 0.5em;
	font-size: 1.25em;
	left: 40%;
  }
}