// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.kode-mono-<Kode> {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body, #firstName, #lastName, #eMail, #signUp, #passWord{
  font-family: "Kode Mono", monospace;
}
body{
  font-size: 1.2em;
  background-color:#0F0F0F;
}
h1{
  padding: 0.25em;
  color: #95003C;
  font-weight: 675;
  font-size: 1.4em;
  padding-bottom: 0.5em;
  text-decoration: underline;
  text-decoration-color: #16B507;
}
/* Does not change color of the linked h1 after being clicked
Credits to SheCodes*/
a:link, a:visited{
  color: #95003C;
  text-decoration-color: #16B507;
}
form{
  padding: 1em;
  border: 1px;
  margin: 0.5em;
  border-style: solid;
  border-width: 0.1em;
  border-color: #16B507;
  border-radius: 10px;
  background-color: #1c1c1c;
}
h2{
  font-size: 1.25em;
  text-align: center;
  color: #95003C;
  padding-bottom: 0.5em;
}
.bolded{
  font-weight: 600;
  font-size: 1.35em
}